/lab2/*.mp4
/lab2/*.mov
/lab1/*.pages
/readings
/lab5/*.pages
/lab5/__pycache__
/test
/lab5/well_data
/lab5/well_data_txt
/lab5/node_modules
/lab5/package-lock.json
/lab/*.csv
*.mov
*.pdf
lab6/ads_data_html.zip
lab6/lab6part2.mp4
lab6/ads_data_html/caution.svg
lab6/ads_data_html/InstallFlowChart.png
lab6/ads_data_html/note.svg
lab6/ads_data_html/Quick_Install_and_License_Setup.html
lab6/ads_data_html/Quick_Install-Linux.html
lab6/ads_data_html/Quick_Install-Windows.html
lab6/ads_data_html/Release_Notes.html
lab6/pdf_chatbot_gpt.jpg
lab6/pdf_chatbot_Llama2.jpg
lab6/README_RAYDIANT.docx
project/embeddings.json
project/piazza.json
