/readings
*__pycache__
/test
/lab5/well_data
/lab5/well_data_txt
*node_modules
*package-lock.json
*.mp4
*.pages
*.mov
*.pdf
*.png
*.svg
*.zip
*.csv
*.jpg
*.docx
*.json
lab6/ads_data_html/Quick_Install_and_License_Setup.html
lab6/ads_data_html/Quick_Install-Linux.html
lab6/ads_data_html/Quick_Install-Windows.html
lab6/ads_data_html/Release_Notes.html
*.env
